<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PickUp-Home</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
        <script src="/../insertPostTemplate.js"></script>
        <script src="/../sportTemplate.js"></script>
        <script type="text/javascript" src="/../index.js" charset="utf-8" defer></script>
    </head>

    <body>
      {{{body}}}
    </body>
</html>
