{{>header}}

<main class="content">
    <aside class="category-container">
        <h2>Sports Category</h2>
        <div class="category-option">
            <div class="basketball"><a href="sports-page.html">Basteball</a</div>
<!--                    <div class="soccer">Soccer</div>-->
<!--                    <div class="running">Running</div>-->
<!--                    <div class="tennis">Tennis</div>-->
        </div>
</main>
