{{>header}}

<!-- This is a briefly introduction of our website which will be on the left side of the page-->
<div class="some-sentences">PickUp! Your Event In Our Community</div>

<!-- This is the account part which is on the right side-->
<div class="account-part">
    <!-- username-->
    <div class="account-username">
        <label for="username" class="account-input-label">Username</label>
        <input type="text" name="username" id="username" class="account-input" placeholder="Email/Phone Number">
    </div>
    <!--password-->
    <div class="account-password">
        <label for="username" class="account-input-label">Password</label>
        <input type="text" name="password" id="password" class="account-input">
    </div>
    <!-- forgot button-->
    <button id="filter-update-button" class="action-button">Forgot Password?</button>
    <button id="signup-button" class="action-button">Sign Up</button>

  <div id="modal-backdrop" class="hidden"></div>
  <div class="hidden" id="modal">
    <h1>Create Account</h1>

    <!-- create the error section -->
    <p id="error" class="error"></p>

    <!-- Create form for creating an account -->
    <form name="createAccount" action="" onsubmit="return validateAccountCreate();" method="post">
    	User name:
    	<input type="text" name="username" required><br>
    	E-mail:
    	<input type="email" name="email" required><br>
    	Password:
    	<input type="password" name="pass" required><br>

    	<!-- Have user confirm their password by entering again -->

    	Confirm Password:
    	<input type="password" name="passconfirm" required><br>
    	<button id="confirm-button" class="action-button">Create Account</button>
    </form>
  </div>
