{{>header}}

<!-- This is a briefly introduction of our website which will be on the left side of the page-->
<div class="some-sentences">PickUp! Your Event In Our Community</div>

<!-- This is the account part which is on the right side-->
<div class="account-part">
    <!-- username-->
    <div class="account-username">
        <label for="username" class="account-input-label">Username</label>
        <input type="text" name="username" id="username" class="account-input" placeholder="Email/Phone Number">
    </div>
    <!--password-->
    <div class="account-password">
        <label for="username" class="account-input-label">Password</label>
        <input type="text" name="password" id="password" class="account-input">
    </div>
    <!-- forgot button-->
    <div class="forgot-part"><font size="1">Forgot Password</font></div>
