<div class="logo">
<a href="/" class="logo"><img src="/logo.png" alt="PickUp!"></a>
</div>

<!-- This is a briefly introduction of our website which will be on the left side of the page-->
<div class="some-sentences">PickUp! Your Event In Our Community</div>

<!-- This is the account part which is on the right side-->
<div class="account-part">
    <!-- username-->
    <div class="account-username">
        <label for="username" class="account-input-label">Username</label>
        <input type="text" name="username" id="username" class="account-input" placeholder="Email/Phone Number">
    </div>
    <!--password-->
    <div class="account-password">
        <label for="username" class="account-input-label">Password</label>
        <input type="password" name="password" id="password" class="account-input">
    </div>
    <!-- forgot button-->
    <button id="forgot-update-button" class="action-button">Forgot Password?</button>
    <button id="signup-button" class="action-button">Sign Up</button>

  <div id="modal-backdrop" class="hidden"></div>
  <div class="hidden" id="modal">
    <h1>Create Account</h1>
    <button type="button" id="modal-close" class="modal-hide-button">&times;</button>

    <!-- create the error section -->
    <p id="error" class="error"></p>

    <!-- Create form for creating an account -->
    	<label>User name</label>
    	<input id="username-field" type="text" name="username" required><br>
    	<label>E-mail</label>
    	<input id="email-field" type="email" name="email" required><br>
    	<label>Password</label>
    	<input id="password-field" type="password" name="pass" required><br>

    	<!-- Have user confirm their password by entering again -->

    	<label>Confirm Password</label>
    	<input id="confirm-password-field" type="password" name="passconfirm" required><br>
    	<button id="confirm-button" class="action-button">Create Account</button>
  </div>
