<div class="logo">
<a href="/" class="logo"><img src="/logo.png" alt="PickUp!"></a>
</div>

<h1>New Password</h1>

<p>Enter the new password you would like to use for this account.</p>

<p id="error" class="error"></p>

<!-- Create form for creating an account -->
<form name="user">
	Username:
	<input id="username-change-pass" type="text" name="user" required><br>
<form name="newPassword" action="" onsubmit="return validateNewPassword();" method="post">
	New Password:
	<input id="password-change-pass" type="password" name="pass" required><br>

	<!-- Have user confirm their password by entering again -->

	Confirm Password:
	<input id="con-pass-change" type="password" name="passconfirm" required><br>
	<button id="change-pass-button" class="action-button">Change Password</button>
</form>
